BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
Language: C
UseTab: Always
ColumnLimit: 120
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
